/* lab2 */
#content {
  position:absolute;

  z-index:2;
  width: 100%;
  height: auto;
  top: 100px;
  color:white;
  /* border: 1px solid red; */
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Arial Black", Gadget, sans-serif;
  z-index:1;
}
#join {
  position:absolute;
  font-size: 2em;
  top: 50%;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  text-decoration: none;
  z-index: 2;
}

@media only screen and (max-width: 500px) {
  #join {
    position: relative;
  }
}

@media only screen and (min-width: 501px) and (max-width: 995px) {
  #join {
    position: relative;
  }
}
@media only screen and (min-width: 996px) {
  #content {
    display:flex;
    top: 120px;
    right: 0%;

    color: white;
    max-width: 27%;
    align-items: flex-end;
  }
  #join {
    margin: 0 50% 0 35%;
    width: 30%;
  }
}
